@import url("./tailwindcss.css");

@font-face {
  font-family: alimama;
  src: url("../assets/fonts/Alimama_ShuHeiTi_Bold.ttf")
}

.el-aside {
  z-index: 10 !important;
}

.el-drawer__header {
	margin-bottom: 0 !important;
}

.el-menu {
  border: none !important;
}